/.vscode
/App.py
/Base.py
/buttons.py
/Calculator.py
/DD.code-workspace
/entry.py
/Enviroments
/exce.csv
/exits,icons,images.py
/File.py
/frame.py
/grid.py
/helloworld.py
/Icon
/Images
/ImageViewerApp.py
/imegege.py
/message.py
/PowerBI2.py
/PowerBy.PY
/project1_env
/slider.py
/VentasZegel.xlsx
/Zegel.xlsx